<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hỗ trợ</title>
    <link rel="icon" href="https://thuvien.edu.vn/htmlib/assets/img/Overview/logo.svg">
    <link rel="stylesheet" href="/support.css">
</head>
<body>
    <div class="app">
        <div class="header">
            <a href="" class="header_icon"> <img src="https://thuvien.edu.vn/htmlib/assets/img/Overview/logo.svg" alt=""></a>
            <div class="header_list">
                <a href="/api/user/home" class="header_list-home">Giới Thiệu</a>
                <a href="/api/user/userBook" class="header_list-book">Sách</a>
                <a href="/api/user/news" class="header_list-new">Tin Tức - Sự Kiện</a>
                <a style="color: #135743; font-weight: 600;" href="" class="header_list-support">Hỗ Trợ</a>
                <a href="" class="header_list-login">Đăng nhập</a>
            </div>
        </div>
        <div class="navbar">
            <a style="text-decoration: none; color: #fff; font-size: 14px; margin-left: 5%;" href="" class="navbar_home">Trang chủ > </a>
            <a style="text-decoration: none; color: #fff; font-size: 14px; margin-left: 5px;" href="" class="navbar_new">Tin Tức - Sự Kiện</a>
        </div>
        <div class="container">
            <div class="container_item">
                <div class="container_item-header">THÔNG TIN LIÊN HỆ</div>
                <div class="container_item-text">Đăng ký sử dụng phần mềm</div>
                <div class="container_item-hotline">HOTLINE</div>
                <div class="container_item-phone">19004740</div>
                <div class="container_item-mess">(Từ 8h00 đến 17h30 từ thứ 2 đến hết sáng thứ 7)</div>
            </div>
            <img src="https://thuvien.edu.vn/htmlib/assets/img/Home/Vector%2012.png" class="container_img"></img>
        </div>
        <div class="footer">
            <div class="footer_item">
                <div class="footer_item-header">TRUY CẬP NHANH</div>
                <a style="color: #fff; text-decoration: none;" href="" class="footer_item-body">Bộ phận hỗ trợ</a>
            </div>
            <div class="footer_item">
                <div class="footer_item-header">DANH MỤC</div> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Giới Thiệu</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Sách</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Tin Tức - Sự Kiện</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Hỗ Trợ</a> 
            </div>
            <div class="footer_item">
                <div style="padding-bottom: 20px;" class="footer_item-header">LIÊN HỆ VỚI CHÚNG TÔI</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Địa chỉ : TTTM LePARC, P. Yên Sở, Q. Hoàng Mai, Hà Nội </div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Email: cskh@quangich.com</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Website: thuvien.edu.vn</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Hotline: 1900 4740</div>
            </div>
        </div>
    </div>
</body>
</html>