<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức - Sự kiện</title>
    <link rel="icon" href="https://thuvien.edu.vn/htmlib/assets/img/Overview/logo.svg">
    <link rel="stylesheet" href="http://localhost:8000/api/cssHandle/news">
</head>
<body>
    <div id="content"></div>
    <div class="app">
        <div class="header">
            <a href="" class="header_icon"> <img src="https://thuvien.edu.vn/htmlib/assets/img/Overview/logo.svg" alt=""></a>
            <div class="header_list">
                <a href="http://localhost:8000/api/product/index" class="header_list-home">Giới Thiệu</a>
                <a href="http://localhost:8000/api/product/books" class="header_list-book">Sách</a>
                <a style="color: #135743; font-weight: 600;" href="http://localhost:8000/api/product/news" class="header_list-new">Tin Tức - Sự Kiện</a>
                <a href="http://localhost:8000/api/product/support" class="header_list-support">Hỗ Trợ</a>
                <a href="http://localhost:8000/api/product/login" class="header_list-login">Đăng nhập</a>
                <div class="hover">
                    <div id="header_list-name"></div>
                    <button id="out" onclick="accOut()">Đăng Xuất</button>
                </div>
            </div>
        </div>
        <div class="navbar">
            <a style="text-decoration: none; color: #fff; font-size: 14px; margin-left: 5%;" href="" class="navbar_home">Trang chủ > </a>
            <a style="text-decoration: none; color: #fff; font-size: 14px; margin-left: 5px;" href="" class="navbar_new">Tin Tức - Sự Kiện</a>
        </div>
        <div class="content">
            <img style="margin-left: 5%; height: 420px;" src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/pho-sach-ha-noi-2-9.png" alt="" class="content_img">
            <div class="content_text">
                <div style="font-size: 32px; font-weight: 700; padding-bottom: 20px; color: #006241;" class="content_text-header">Nghỉ lễ 2/9 khám phá 3 Phố sách lớn nhất Hà Nội</div>
                <div style="font-size: 20px; margin-bottom: 26%;" class="content_text-body1">Nếu như bạn có dự định ở lại Hà Nội nghỉ ngơi thay vì đến các địa điểm du lịch đông đúc thì hãy tham khảo 4 phố sách lớn nhất nhì Hà Nội để thăm quan, mua sắm, chuẩn bị đón chào một năm học mới nhé! Cùng VIELIB điểm danh ngay các địa chỉ phố sách này trong bài viết dưới đây.</div>
                <br>
                <a href="http://localhost:8000/api/product/index" style="font-size: 16px; text-decoration: none; background-color: #006241; color: #fff; padding: 10px 20px;border-radius: 20px;" class="content_text-body2">Xem thêm</a>
            </div>
        </div>
        <div class="container">
            <div class="container_item">
                <img src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/to-chuc-hoat-dong-thu-vien-hieu-qua.png" alt="" class="container_item-img">
                <div class="container_item-header">3 Gợi ý giúp thư viện hoạt động hiệu quả hơn trong trường học</div>
                <div class="container_item-text">Tổ chức hoạt động thư viện hiệu quả là rất quan trọng để hỗ trợ quá trình học tập và nâng cao kiến thức của học sinh. Dưới đây là 3 gợi ý để thư viện hoạt động hiệu quả hơn trong trường học.</div>
                <a href="" class="container_item-next">Xem thêm</a>
            </div>
            <div class="container_item">
                <img src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/hop-tac-muon-lien-thu-vien.png" alt="" class="container_item-img">
                <div class="container_item-header">Tìm hiểu hợp tác mượn liên thư viện trong trường học</div>
                <div class="container_item-text">Mượn liên thư viện là gì? Hợp tác, liên thông thư viện đem lại những lợi ích gì trong trường học? Cùng VIELIB tìm hiểu ngay trong bài viết này.</div>
                <a href="" class="container_item-next">Xem thêm</a>
            </div>
            <div class="container_item">
                <img src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/thu-vien-dan-mach-doc-dao-the-gioi.png" alt="" class="container_item-img">
                <div class="container_item-header">Thư viện độc nhất vô nhị thế giới: Nơi không có nổi một cuốn sách</div>
                <div class="container_item-text">Đến với thư viện đặc biệt nhất thế giới này, bạn sẽ không thể lựa chọn cho mình một cuốn sách bởi thư viện này chỉ có dịch vụ “mượn người”.</div>
                <a href="" class="container_item-next">Xem thêm</a>
            </div>
            <div class="container_item">
                <img src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/bai-giang-dien-tu-giao-an-dien-tu.png" alt="" class="container_item-img">
                <div class="container_item-header">Phân biệt bài giảng điện tử với giáo án điện tử. Cách thiết kế thư viện bài giảng điện tử</div>
                <div class="container_item-text">Bài giảng điện tử là gì? Giáo án điện tử khác giáo án điện tử như thế nào? Trong bài viết này hãy cùng VIELIB phân biệt khái niệm bài giảng, giáo án điện tử và cách xây dựng phần mềm để thiết kế bài giảng điện tử.</div>
                <a href="" class="container_item-next">Xem thêm</a>
            </div>
            <div class="container_item">
                <img src="https://adminweb.thuvien.edu.vn/UploadFolderNew/UBNDLongBien/Image/qi/administrator/marketing-thu-vien.png" alt="" class="container_item-img">
                <div class="container_item-header">Lập kế hoạch chiến lược marketing thư viện trường học trong kỷ nguyên số</div>
                <div class="container_item-text">Sự trỗi dậy của công nghệ thông tin trong kỷ nguyên số đã tác động tích cực đến việc truyền thông marketing thư viện. Vì vậy, việc lập một kế hoạch tiếp thị thư viện là sự cần thiết trong chuyển đổi số giáo dục.</div>
                <a href="" class="container_item-next">Xem thêm</a>
            </div>
        </div>
        <div class="footer">
            <div class="footer_item">
                <div class="footer_item-header">TRUY CẬP NHANH</div>
                <a style="color: #fff; text-decoration: none;" href="" class="footer_item-body">Bộ phận hỗ trợ</a>
            </div>
            <div class="footer_item">
                <div class="footer_item-header">DANH MỤC</div> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Giới Thiệu</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Sách</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Tin Tức - Sự Kiện</a> 
                <a  style="color: #fff; text-decoration: none; display: block; padding-bottom: 20px;" href="" class="footer_item-body">Hỗ Trợ</a> 
            </div>
            <div class="footer_item">
                <div style="padding-bottom: 20px;" class="footer_item-header">LIÊN HỆ VỚI CHÚNG TÔI</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Địa chỉ : TTTM LePARC, P. Yên Sở, Q. Hoàng Mai, Hà Nội </div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Email: cskh@quangich.com</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Website: thuvien.edu.vn</div>
                <div style="padding-bottom: 20px;" class="footer_item-body">Hotline: 1900 4740</div>
            </div>
        </div>
    </div>

    <script>
        // Kiểm tra xem email có tồn tại trong localStorage hay không
        const email = localStorage.getItem('email'); 
        if (email) {
            // Nếu tồn tại, thực hiện yêu cầu GET để lấy thông tin người dùng từ server
            fetch('http://localhost:8000/api/auth/getUser', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const contentElement = document.getElementById('header_list-name'); // Lấy phần tử có id là "header_list-name"
    
                // Kiểm tra xem data có chứa thông tin người dùng hay không
                if (data.datas) { 
                    const user = data.datas.find(user => user.email === email); // Tìm user dựa trên email đã đăng nhập
    
                    // Kiểm tra xem user có tồn tại hay không
                    if (user) {
                        // Tạo một phần tử div để chứa thông tin người dùng
                        const divElement = document.createElement('div');
    
                        // Tạo một phần tử span để hiển thị tên người dùng
                        const userName = document.createElement('span');
                        userName.textContent = user.userName;
                        userName.style.fontWeight = '700';
                        userName.style.background = 'linear-gradient(90deg, #006241 7.99%, #1B785C 100%)'; 
                        userName.style.borderRadius = '5px';
                        userName.style.color = '#fff';
                        userName.style.padding = '10px';
    
                        // Thêm phần tử span vào phần tử div
                        divElement.appendChild(userName);
    
                        // Thêm phần tử div vào phần tử hiển thị thông tin người dùng
                        contentElement.appendChild(divElement);

                    } else {
                        console.error('User not found');
                    }
                } else {
                    console.error('Error fetching user data');
                }
            })
            .catch(error => console.error('Error:', error));

            // sử lý kiểm tra đăng nhập
            const account = document.querySelector('.hover');
            account.style.display = 'block';

            const login = document.querySelector('.header_list-login');
            login.style.display = 'none';
        }

         // sử lý sự kiện đăng xuất
        const btnOut = document.getElementById('out')
        function accOut() {
            if(btnOut) {
                if(confirm("Bạn có muốn đăng xuất không ?")){
                    localStorage.removeItem('email')
                    window.location.href = "http://localhost:8000/api/product/login";
                }
            }
        }
    </script>
</body>
</html>





<!-- <script>
    fetch('http://localhost:8000/api/product') // Đổi URL này nếu cần
        .then(response => response.json()) // Chuyển dữ liệu nhận được thành JSON
        .then(data => {
            const ulElement = document.createElement('ul'); // Tạo thẻ ul
            const message = data.message; // Lấy thông điệp từ dữ liệu
            const datas = data.datas; // Lấy danh sách sản phẩm từ dữ liệu
            const messageElement = document.createElement('li'); // Tạo thẻ li cho thông điệp
            messageElement.textContent = message; // Đặt nội dung của thẻ li là thông điệp
            ulElement.appendChild(messageElement); // Thêm thẻ li chứa thông điệp vào thẻ ul
            datas.forEach(product => { // Duyệt qua từng sản phẩm trong danh sách
                const liElement = document.createElement('li'); // Tạo thẻ li
                liElement.textContent = `${product.name}, $${product.price}`; // Đặt nội dung của thẻ li là tên và giá sản phẩm
                ulElement.appendChild(liElement); // Thêm thẻ li vào thẻ ul
            });
            document.getElementById('content').appendChild(ulElement); // Thêm thẻ ul vào phần tử có id là "content"
        })
        .catch(error => console.error('Error:', error));
</script> -->